<div id="links">
  <div class="a-link", id="link-<%=link.id%>">
    <div class= "read">
      <h3>Title: <%= link.title %></h3>
      <h4>URL: <%= link.url %></h4>
      <h4><%= link_to 'Mark read', edit_link_path(link), class: "mark-as-read" %></h4><br><br>
    </div>
    <%= link_to "Edit link", edit_link_path(link), class: "btn btn-info" %>
  </div>
</div>
