<div class="container">
  <div class='fake-nav' align='right'>
    <% if current_user %>
    <h3><%= "Signed with #{current_user.email}" %></h3>
    <% end %>
    <%= link_to 'Logout', logout_path, method: :delete, class: "btn btn-danger" %>
  </div>


  <h2>My Links Index</h2>
  <hr>
    <div align="center" id="new-link">
      <h3>Add a new link to your list</h3>
      <%= render partial: 'form' %>
    </div>
  <hr>

  <div class="filter-container">
    <label for="filter-links">Filter Links</label>
    <input type="text" id="filter-links" placeholder="Filter Links" />&nbsp;
    <%= link_to "Show Read", class: 'show-read' %>&nbsp;
    <%= link_to "Show Unread", class: 'show-unread' %>
  </div><br>

  <div id="links">
    <% @links.each do |link|  %>
      <div class="a-link", id="link-<%=link.id%>">
          <% if link.read == true %>
          <div class="true">
            <h3 class='title'> <%= link.title %></h3>
            <h4 class='url'><%= link_to "#{link.url}", link.url %></h4>
            <h4><%= link_to 'Mark unread', edit_link_path(link), class: "mark-as-unread" %></h4><br><br>
          </div><br>
        <% else %>
        <div class="false">
          <h3 class='title'><%= link.title %></h3>
          <h4 class='url'><%= link_to "#{link.url}", link.url %></h4>
          <h4><%= link_to 'Mark read', edit_link_path(link), class: "mark-as-read" %></h4><br><br>
        </div><br>
          <% end %>
        <%= link_to "Edit link", edit_link_path(link), class: "btn btn-info" %>
      </div><br>
      <% end %>
    </div>
</div>
